html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  display: flex;
  justify-content: center;
  margin: 2%;
}
header nav {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav a {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  font-size: 3rem;
  text-decoration: none;
  color: gray;
}
@media (max-width: 500px) {
  header nav a {
    margin: 2.5% 0;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: lightblue;
    padding: 5px 100px;
  }
}
header nav a.home {
  color: black;
  font-weight: 600;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body {
    width: 95%;
  }
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-image: url(../assets/home.png);
  padding: 20%;
  margin-bottom: 2.5%;
}
@media (max-width: 500px) {
  .title-container {
    padding: 15%;
  }
}
.title-container h1 {
  margin: 0 auto;
  font-size: 6rem;
  color: white;
  width: 75%;
}
@media (max-width: 500px) {
  .title-container h1 {
    font-size: 4rem;
    color: blue;
    margin: 0;
    width: 100%;
  }
}
.title-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  font-size: 1.6rem;
  border-radius: 5px;
  color: black;
  background-color: white;
}
.artists-container {
  display: flex;
  width: 95%;
  margin: 2.5% auto;
}
@media (max-width: 500px) {
  .artists-container {
    flex-direction: column;
    align-items: center;
  }
}
.artists-container .artist {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: default;
  align-items: center;
}
@media (max-width: 500px) {
  .artists-container .artist {
    width: 100%;
    margin-bottom: 20px;
  }
}
.artists-container .artist img {
  width: 60%;
  height: 50%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .artists-container .artist img {
    width: 100%;
  }
}
.artists-container .artist img:hover {
  opacity: 80%;
}
.artists-container .artist a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 2%;
}
@media (max-width: 500px) {
  .artists-container .artist a {
    text-align: center;
    font-size: 2.5rem;
  }
}
.artists-container .artist .bio {
  width: 90%;
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  .artists-container .artist .bio {
    text-align: center;
  }
}
