header {
    display: flex;
    justify-content: center;
    margin: 2%;
    nav {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            justify-content: space-evenly;
            padding-right: 20px;
            font-size: 2rem;
            text-decoration: none;
            color: gray;
        }
    }
}